<!DOCTYPE html>
<html>
    <head>
        <style>
            body { display: flex; justify-content: center; align-items: center; height: 100vh; text-align: center; font-family: Arial, sans-serif; }
            .message { max-width: 600px; padding: 20px; background-color: #f1f1f1; border-radius: 5px; }
            h1 { color: #ff0000; }
        </style>
    </head>
    <body>
    <div class="message">
        <h1>To była próba fishingu.</h1>
        <p>Nastepnym razem uważaj na linki w które klikasz.</p>
    </div>
    </body>
</html